CONFIG_SDK_USER_ENTRYPOINT="bmi160_rotating"
CONFIG_CXD56_I2C0=y
CXD56_I2C0_SCUSEQ=n
CONFIG_SENSORS=y
CONFIG_BMI160=y
CONFIG_BMI160_I2C=y
CONFIG_BMI160_SCU=n
CONFIG_LCD=y
CONFIG_LCD_ILI9340=y
CONFIG_LCD_ILI9340_IFACE0=y
CONFIG_LCD_ON_MAIN_BOARD=y
CONFIG_LCD_ON_EXTENSION_BOARD=n
CONFIG_CXD56_DMAC_SPI5_TX=y
CONFIG_CXD56_I2C=y
CONFIG_CXD56_I2C2=y
CONFIG_CXD56_CISIF=y
CONFIG_CXD56_SDIO=y
CONFIG_EXAMPLES_BMI160_ROTATING=y
CONFIG_IMAGEPROC=y
